In [ ]:
import sqlite3
import pandas as pd


# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('home_energy.db')
cursor = conn.cursor()  # interacts with the db

# Create Users table (if it doesn't exist)
cursor.execute('''
CREATE TABLE IF NOT EXISTS Users (
    user_id INTEGER PRIMARY KEY,
    name TEXT,
    email TEXT,
    location TEXT
)
''')

# Create Assessments table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Assessments (
    assessment_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    home_size INTEGER,
    occupants INTEGER,
    home_type TEXT,
    FOREIGN KEY (user_id) REFERENCES Users(user_id)
)
''')

# Create Appliance Usage table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Appliance_Usage (
    appliance_id INTEGER PRIMARY KEY,
    assessment_id INTEGER,
    appliance_name TEXT,
    usage_hours REAL,
    energy_efficient BOOLEAN,
    FOREIGN KEY (assessment_id) REFERENCES Assessments(assessment_id)
)
''')

# Create Behavior & Habits table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Behavior_Habits (
    behavior_id INTEGER PRIMARY KEY,
    assessment_id INTEGER,
    turn_off_lights BOOLEAN,
    use_natural_light BOOLEAN,
    unplug_devices BOOLEAN,
    heating_cooling_frequency TEXT,
    FOREIGN KEY (assessment_id) REFERENCES Assessments(assessment_id)
)
''')

# Create Heating, Cooling,_Insulation table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Heating_Cooling_Insulation (
    heating_id INTEGER PRIMARY KEY,
    assessment_id INTEGER,
    ac_heater_usage TEXT,
    preferred_temp REAL,
    well_insulated BOOLEAN,
    natural_ventilation BOOLEAN,
    FOREIGN KEY (assessment_id) REFERENCES Assessments(assessment_id)
)
''')


# Commit the changes
conn.commit()

# Sample data
Users = [
    (1, 'Alice Njeri', 'alice@gmail.com', 'Rongai'),
    (2, 'Ken Kimani', 'ken@gmail.com', 'Westlands'),
    (3, 'Mary Wanjiru', 'mary@gmail.com', 'Lavington'),
    (4, 'Walter Otieno', 'walter@gmail.com', 'Kasarani'),
    (5, 'Jane Kiptoo', 'jane@gmail.com', 'Ruaka'),
    (6, 'John Makau', 'john@gmail.com', 'Thika'),
    (7, 'Grace Adhiambo', 'grace@gmail.com', 'Langâ€™ata'),
    (8, 'Peter Mwangi', 'peter@gmail.com', 'Kitengela'),
    (9, 'Paul Wanyama', 'paul@gmail.com', 'Eastleigh'),
    (10, 'Esther Chebet', 'esther@gmail.com', 'South B'),
    (11, 'Alice Mabo', 'alice.mabo@gmail.com', 'Machakos'),
    (12, 'Shirleen Kalima', 'shirleen@gmail.com', 'Nyahururu'),
    (13, 'William Kipkoech', 'william@gmail.com', 'Narok'),
    (14, 'Moses Kuria', 'moses@gmail.com', 'Mombasa'),
    (15, 'Rose Sande', 'rose@gmail.com', 'Eldoret'),
]

Assessments = [
    (1, 1, 2200, 3, 'Apartment'),
    (2, 2, 3200, 6, 'Bungalow'),
    (3, 3, 2700, 4, 'Maisonette'),
    (4, 4, 1600, 2, 'Studio'),
    (5, 5, 2300, 3, 'Townhouse'),
    (6, 6, 2900, 4, 'Cottage'),
    (7, 7, 2600, 4, 'Maisonette'),
    (8, 8, 1400, 1, 'Bedsitter'),
    (9, 9, 2100, 3, 'Apartment'),
    (10, 10, 3500, 6, 'Villa'),
    (11, 11, 2600, 4, 'Maisonette'),
    (12, 12, 1700, 2, 'Studio'),
    (13, 13, 2400, 3, 'Townhouse'),
    (14, 14, 3100, 5, 'Bungalow'),
    (15, 15, 2800, 4, 'Cottage'),
]


Appliance_Usage = [
    (1, 1, 'Fridge', 24, False),
    (2, 1, 'TV', 4, True),
    (3, 2, 'Microwave', 2, True),
    (4, 2, 'Heater', 18, False),
    (5, 3, 'Cooker', 3, True),
    (6, 3, 'Air Purifier', 10, False),
    (7, 4, 'Laptop', 6, True),
    (8, 4, 'Ironbox', 1, False),
    (9, 5, 'Fridge', 22, False),
    (10, 5, 'Lightbulbs', 8, False),
    (11, 6, 'Toaster', 1, True),
    (12, 6, 'Home Theatre', 16, False),
    (13, 7, 'Oven', 2, True),
    (14, 7, 'Ceiling Fan', 14, False),
    (15, 8, 'Laptop', 7, True),
    (16, 8, 'Washing Machine', 2, False),
    (17, 9, 'Mini Fridge', 20, False),
    (18, 9, 'Smart TV', 5, True),
    (19, 10, 'Electric Kettle', 1, True),
    (20, 10, 'Desktop PC', 10, False),
    (21, 11, 'Induction Cooker', 3, True),
    (22, 11, 'Portable Fan', 8, False),
    (23, 12, 'Tablet Charger', 4, True),
    (24, 12, 'Ironbox', 1, False),
    (25, 13, 'Fridge', 23, False),
    (26, 13, 'TV', 5, True),
    (27, 14, 'Microwave', 1, True),
    (28, 14, 'Heater', 20, False),
    (29, 15, 'Cooker', 2, True),
    (30, 15, 'Fan', 10, False),
]


Behavior_Habits = [
    (1, 1, True, True, True, 'Daily'),
    (2, 2, False, True, True, 'Weekly'),
    (3, 3, True, False, True, 'Occasionally'),
    (4, 4, True, True, False, 'Daily'),
    (5, 5, False, False, True, 'Weekly'),
    (6, 6, True, False, False, 'Occasionally'),
    (7, 7, True, True, True, 'Daily'),
    (8, 8, False, True, False, 'Monthly'),
    (9, 9, True, True, False, 'Occasionally'),
    (10, 10, False, False, True, 'Weekly'),
    (11, 11, True, False, True, 'Occasionally'),
    (12, 12, True, True, True, 'Daily'),
    (13, 13, False, True, False, 'Monthly'),
    (14, 14, True, False, False, 'Weekly'),
    (15, 15, True, True, True, 'Daily'),
]


Heating_Cooling_Insulation = [
    (1, 1, 'Both', 20, True, True),
    (2, 2, 'AC Only', 18, False, True),
    (3, 3, 'Heater Only', 22, True, False),
    (4, 4, 'Both', 17, False, False),
    (5, 5, 'AC Only', 23, True, True),
    (6, 6, 'Heater Only', 19, False, True),
    (7, 7, 'Both', 26, True, False),
    (8, 8, 'AC Only', 21, True, True),
    (9, 9, 'Heater Only', 24, False, False),
    (10, 10,'Both', 21, True, False),
    (11, 11, 'AC Only', 20, False, True),
    (12, 12, 'Heater Only', 22, True, False),
    (13, 13, 'Both', 24, True, True),
    (14, 14, 'AC Only', 28, False, False),
    (15, 15, 'Heater Only', 22, True, True),
]



# Insert data into the Users table, skipping duplicates
cursor.executemany('''
INSERT OR IGNORE INTO Users (user_id, name, email, location) VALUES (?, ?, ?, ?)
''', Users)

# Insert data into the Assessments table
cursor.executemany('''
INSERT OR IGNORE INTO Assessments (assessment_id, user_id, home_size, occupants, home_type) VALUES (?, ?, ?, ?, ?)
''', Assessments)

# Insert data into the Appliance_Usage table, skipping duplicates
cursor.executemany('''
INSERT OR IGNORE INTO Appliance_Usage (appliance_id, assessment_id, appliance_name, usage_hours, energy_efficient) VALUES (?, ?, ?, ?, ?)
''', Appliance_Usage)

# Insert data into the Behavior_Habits table, skipping duplicates
cursor.executemany('''
INSERT OR IGNORE INTO Behavior_Habits (behavior_id, assessment_id, turn_off_lights, use_natural_light, unplug_devices, heating_cooling_frequency) VALUES (?, ?, ?, ?, ?, ?)
''', Behavior_Habits)


# Insert data into the Heating_Cooling_Insulation table, skipping duplicates
cursor.executemany('''
INSERT OR IGNORE INTO Heating_Cooling_Insulation (heating_id, assessment_id, ac_heater_usage, preferred_temp, well_insulated, natural_ventilation) VALUES (?, ?, ?, ?, ?, ?)
''', Heating_Cooling_Insulation)


# Commit the changes
conn.commit()

# Query the Users table
query = "SELECT * FROM Users"
df = pd.read_sql(query, conn)

# Display the first few rows of the DataFrame
print(df.head())

# Query the Assessments table
query = "SELECT * FROM Assessments"
df = pd.read_sql(query, conn)
print(df.head())

# Query the Appliance_Usage table
query = "SELECT * FROM Appliance_Usage"
df = pd.read_sql(query, conn)
print(df.head())

# Query the Behavior_Habits table
query = "SELECT * FROM Behavior_Habits"
df = pd.read_sql(query, conn)
print(df.head())

# Query the Heating_Cooling_Insulation table
query = "SELECT * FROM Heating_Cooling_Insulation"
df = pd.read_sql(query, conn)
print(df.head())

# Close the connection
conn.close()

   user_id           name             email     location
0        1    Alice Njeri   alice@gmail.com       Rongai
1        2     Ken Kimani     ken@gmail.com        Karen
2        3   Mary Wanjiru    mary@gmail.com   Kileleshwa
3        4  Walter Otieno  walter@gmail.com     Kasarani
4        5    Jane Kiptoo    jane@gmail.com  Kahawa West
   assessment_id  user_id  home_size  occupants    home_type
0              1        1       2000          2    Apartment
1              2        2       3000          5     Bungalow
2              3        3       2500          3  Mansionette
3              4        4       1500          1       Studio
4              5        5       2000          2    Apartment
   appliance_id  assessment_id appliance_name  usage_hours  energy_efficient
0             1              1         Fridge         24.0                 0
1             2              1             TV          6.0                 0
2             3              2      Microwave          1.0                 1
3             4              2         Heater         24.0                 0
4             5              3         Cooker          2.0                 1
   behavior_id  assessment_id  turn_off_lights  use_natural_light  \
0            1              1                1                  1
1            2              2                1                  1
2            3              3                1                  1
3            4              4                1                  1
4            5              5                1                  1

   unplug_devices heating_cooling_frequency
0               1                     Daily
1               1                     Daily
2               1                     Daily
3               1                     Daily
4               1                     Daily
   heating_id  assessment_id ac_heater_usage  preferred_temp  well_insulated  \
0           1              1            Both            20.0               1
1           2              2            Both            20.0               1
2           3              3            Both            20.0               1
3           4              4            Both            20.0               1
4           5              5            Both            20.0               1

   natural_ventilation
0                    1
1                    1
2                    1
3                    1
4                    1